* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
  }
  
  .container {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid #444;
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
    background-color: #222;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: #333;
    border-right: 2px solid #444;
  }
  
  .orcamento, .recursos {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #444;
    border: 2px solid #0f0;
    border-radius: 4px;
    font-size: 16px;
    color: #0f0;
    transition: transform 0.2s;
  }
  
  .orcamento:hover, .recursos:hover {
    transform: scale(1.05);
  }
  
  .sidebar button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 2px solid #0f0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .sidebar button:hover {
    background-color: #0056b3;
    border-color: #ff0;
    box-shadow: 0px 0px 10px #ff0, 0px 0px 20px #ff0;
    color: #ff0;
  }
  
  .info-display {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
  
  .info-display p {
    font-size: 18px;
    color: #0f0;
  }
